In [1]:
from utils import *

In [2]:
train = pd.read_csv('../xfdata/train.csv')
test = pd.read_csv('../xfdata/test.csv')

In [3]:
train.head(10)

,customer_id,main_account_loan_no,main_account_active_loan_no,main_account_overdue_no,main_account_outstanding_loan,main_account_sanction_loan,main_account_disbursed_loan,sub_account_loan_no,sub_account_active_loan_no,sub_account_overdue_no,...,main_account_tenure,sub_account_tenure,disburse_to_sactioned_ratio,active_to_inactive_act_ratio,year_of_birth,disbursed_date,Credit_level,employment_type,age,loan_default
0,105691,4,3,0,384989,666207,666207,0,0,0,...,81,0,1.00,2.50,1968,2019,1,0,51,0
1,24938,7,2,0,268670,387994,387994,0,0,0,...,161,0,1.00,1.33,1992,2019,9,0,27,0
2,104389,5,4,1,3519013,3613854,3576048,0,0,0,...,3576048,0,0.99,3.00,1991,2019,13,1,28,0
3,54688,43,13,6,1867106,2484678,2486856,0,0,0,...,0,0,1.00,1.42,1964,2019,3,1,55,0
4,63894,0,0,0,0,0,0,0,0,0,...,0,0,1.00,1.00,1995,2019,-1,0,24,0
5,146589,0,0,0,0,0,0,0,0,0,...,0,0,1.00,1.00,1978,2019,-1,1,41,0
6,8061,2,1,0,522457,2042000,2042000,0,0,0,...,2042000,0,1.00,1.50,2000,2019,11,2,19,0
7,42006,0,0,0,0,0,0,0,0,0,...,0,0,1.00,1.00,1996,2019,-1,0,23,0
8,19210,0,0,0,0,0,0,0,0,0,...,0,0,1.00,1.00,1975,2019,-1,1,44,0
9,14324,2,0,0,0,0,0,0,0,0,...,0,0,1.00,1.00,1985,2019,13,0,34,0

In [4]:
train.shape

(150000, 53)

In [5]:
# 正负样本数量
print((train['loan_default'] == 1).sum())
print((train['loan_default'] == 0).sum())

26545
123455

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 53 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   customer_id                    150000 non-null  int64
 1   main_account_loan_no           150000 non-null  int64
 2   main_account_active_loan_no    150000 non-null  int64
 3   main_account_overdue_no        150000 non-null  int64
 4   main_account_outstanding_loan  150000 non-null  int64
 5   main_account_sanction_loan     150000 non-null  int64
 6   main_account_disbursed_loan    150000 non-null  int64
 7   sub_account_loan_no            150000 non-null  int64
 8   sub_account_active_loan_no     150000 non-null  int64
 9   sub_account_overdue_no         150000 non-null  int64
 10  sub_account_outstanding_loan   150000 non-null  int64
 11  sub_account_sanction_loan      150000 non-null  int64
 12  sub_account_disbursed_loan     150000 non-null  int64
 13  disbursed_amount               150000 non-null  int64
 14  asset_cost                     150000 non-null  int64
 15  branch_id                      150000 non-null  int64
 16  supplier_id                    150000 non-null  int64
 17  manufacturer_id                150000 non-null  int64
 18  area_id                        150000 non-null  int64
 19  employee_code_id               150000 non-null  int64
 20  mobileno_flag                  150000 non-null  int64
 21  idcard_flag                    150000 non-null  int64
 22  Driving_flag                   150000 non-null  int64
 23  passport_flag                  150000 non-null  int64
 24  credit_score                   150000 non-null  int64
 25  main_account_monthly_payment   150000 non-null  int64
 26  sub_account_monthly_payment    150000 non-null  int64
 27  last_six_month_new_loan_no     150000 non-null  int64
 28  last_six_month_defaulted_no    150000 non-null  int64
 29  average_age                    150000 non-null  int64
 30  credit_history                 150000 non-null  int64
 31  enquirie_no                    150000 non-null  int64
 32  loan_to_asset_ratio            150000 non-null  float64
 33  total_account_loan_no          150000 non-null  int64
 34  sub_account_inactive_loan_no   150000 non-null  int64
 35  total_inactive_loan_no         150000 non-null  int64
 36  main_account_inactive_loan_no  150000 non-null  int64
 37  total_overdue_no               150000 non-null  int64
 38  total_outstanding_loan         150000 non-null  int64
 39  total_sanction_loan            150000 non-null  int64
 40  total_disbursed_loan           150000 non-null  int64
 41  total_monthly_payment          150000 non-null  int64
 42  outstanding_disburse_ratio     150000 non-null  float64
 43  main_account_tenure            150000 non-null  int64
 44  sub_account_tenure             150000 non-null  int64
 45  disburse_to_sactioned_ratio    150000 non-null  float64
 46  active_to_inactive_act_ratio   150000 non-null  float64
 47  year_of_birth                  150000 non-null  int64
 48  disbursed_date                 150000 non-null  int64
 49  Credit_level                   150000 non-null  int64
 50  employment_type                150000 non-null  int64
 51  age                            150000 non-null  int64
 52  loan_default                   150000 non-null  int64
dtypes: float64(4), int64(49)
memory usage: 60.7 MB

In [7]:
train.describe()

,customer_id,main_account_loan_no,main_account_active_loan_no,main_account_overdue_no,main_account_outstanding_loan,main_account_sanction_loan,main_account_disbursed_loan,sub_account_loan_no,sub_account_active_loan_no,sub_account_overdue_no,...,main_account_tenure,sub_account_tenure,disburse_to_sactioned_ratio,active_to_inactive_act_ratio,year_of_birth,disbursed_date,Credit_level,employment_type,age,loan_default
count,150000.000000,150000.000000,150000.000000,150000.000000,1.500000e+05,1.500000e+05,1.500000e+05,150000.000000,150000.000000,150000.000000,...,1.500000e+05,1.500000e+05,1.500000e+05,150000.000000,150000.000000,150000.0,150000.000000,150000.000000,150000.000000,150000.000000
mean,99944.368847,2.447133,1.045500,0.153427,1.670825e+05,2.225586e+05,2.221730e+05,0.060133,0.027967,0.007293,...,5.169842e+04,2.773138e+03,6.506428e+02,1.438740,1984.867900,2019.0,3.132360,0.487507,34.132100,0.176967
std,57629.110557,5.197172,1.952708,0.542496,9.808619e+05,2.840313e+06,2.844075e+06,0.652912,0.325185,0.111236,...,2.614563e+06,1.043622e+05,1.312314e+05,0.789844,9.813379,0.0,5.268384,0.561527,9.813379,0.381642
min,0.000000,0.000000,0.000000,0.000000,-6.678296e+06,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,...,0.000000e+00,0.000000e+00,0.000000e+00,1.000000,1950.000000,2019.0,-1.000000,0.000000,18.000000,0.000000
25%,50069.750000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,...,0.000000e+00,0.000000e+00,1.000000e+00,1.000000,1978.000000,2019.0,-1.000000,0.000000,26.000000,0.000000
50%,99887.500000,1.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,...,0.000000e+00,0.000000e+00,1.000000e+00,1.000000,1987.000000,2019.0,-1.000000,0.000000,32.000000,0.000000
75%,149916.500000,3.000000,1.000000,0.000000,3.545900e+04,6.360000e+04,6.150850e+04,0.000000,0.000000,0.000000,...,2.500000e+01,0.000000e+00,1.000000e+00,1.670000,1993.000000,2019.0,8.000000,1.000000,41.000000,0.000000
max,199716.000000,354.000000,144.000000,23.000000,9.652492e+07,1.000000e+09,1.000000e+09,52.000000,36.000000,7.000000,...,1.000000e+09,1.980000e+07,5.000000e+07,18.000000,2001.000000,2019.0,13.000000,2.000000,69.000000,1.000000

In [8]:
train.isnull().any().sum()

0

In [9]:
test.shape

(30000, 52)

In [10]:
test.isnull().any().sum()

0